.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:16px 34px;

    border-radius:50px;

    border:none;

    appearance:none;

    -webkit-appearance:none;

    background:var(--secundaria);

    color:white;

    font-weight:600;

    font-family:inherit;

    font-size:1rem;

    cursor:pointer;

    transition:var(--transition);

}

.btn:hover{

    transform:translateY(-3px);

    background:var(--secundaria-hover);

}

.btn-outline{

    background:none;

    border:2px solid var(--secundaria);

    color:var(--secundaria);

    appearance:none;

    -webkit-appearance:none;

    cursor:pointer;

    font-family:inherit;

    font-size:1rem;

}

.btn-outline:hover{

    color:white;

    background:var(--secundaria);

}