form{

    width:100%;

}

.form-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}

.form-actions{

    display:flex;

    gap:15px;

    margin-top:20px;

    flex-wrap:wrap;

}

@media(max-width:700px){

    .form-grid{

        grid-template-columns:1fr;

    }

}